body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav, footer{
  background-color: #36213e;
}

main {
  flex-grow: 1;
  background-color: #554971;
}

.modal-content {
  background-color: #8f6d91;
}