body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav, footer{
  background-color: #36213e;
}

main {
  flex-grow: 1;
  background-color: #554971;
}

.btn-primary {
  background-color: #b66700;
  border: #b86e0d;
  box-shadow: 5px 5px 5px #0003;
}

.btn-primary:hover {
  background-color: #88520b;
}

.alert-primary{
  background-color: #c4bed3;
  box-shadow: 10px 15px 5px #0003;  
}

article {
  border: 3px solid #ffffff55;
  background-color: #665a81;
  box-shadow: 10px 15px 5px #0003;
}

th, td {
  color: #f8f9fa;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: #f8f9fa;
  background: #00000010;
}

.modal-content {
  background-color: #8f6d91;
}